@{
    ViewData["Title"] = "Details";
}

<div id="details_map"></div>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>maps van garage locatie, daaronder grafiek, daaronder details.</p>
